<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Forza_Mods_AIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <Forza_Mods_AIO.Properties.Settings>
            <setting name="Up" serializeAs="String">
                <value />
            </setting>
            <setting name="Down" serializeAs="String">
                <value />
            </setting>
            <setting name="Left" serializeAs="String">
                <value />
            </setting>
            <setting name="Right" serializeAs="String">
                <value />
            </setting>
            <setting name="Confirm" serializeAs="String">
                <value />
            </setting>
            <setting name="Leave" serializeAs="String">
                <value />
            </setting>
            <setting name="RapidAdjust" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayVisibility" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerUp" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerDown" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerLeft" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerRight" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerConfirm" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerLeave" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerRapidAdjust" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerOverlayVisibility" serializeAs="String">
                <value />
            </setting>
            <setting name="JumpHack" serializeAs="String">
                <value />
            </setting>
            <setting name="BrakeHack" serializeAs="String">
                <value />
            </setting>
            <setting name="Velocity" serializeAs="String">
                <value />
            </setting>
            <setting name="WheelSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="JumpHackController" serializeAs="String">
                <value />
            </setting>
            <setting name="BrakeHackController" serializeAs="String">
                <value />
            </setting>
            <setting name="VelocityController" serializeAs="String">
                <value />
            </setting>
            <setting name="WheelSpeedHackController" serializeAs="String">
                <value />
            </setting>
        </Forza_Mods_AIO.Properties.Settings>
    </userSettings>
</configuration>